
{% load static  %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    
    <link rel="stylesheet" href="{%  static 'css/tablet.css' %}">
    <link rel="stylesheet" href="{%  static 'css/mobile.css' %}">
    <link rel="stylesheet" href="{%  static 'css/agence.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>




    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avice</title>
</head>





<body>

    <header>


        <div class="header">
            <a class="brand" href=" {% url 'index' %}" >AVICE Architecture</a>
            <nav class="navbar">
                <a class="nav-item  " href=" {% url 'index' %}" aria-current="page">Projets</a>
                <a class="nav-item  selec" href=" {% url 'about' %}">Agence</a>
                <a class="nav-item  " href=" {% url 'actu' %}"> Actualités</a>
                <a class="nav-item  " href=" {% url 'cont' %}">Contact</a>


            </nav>
        </div>

    </header>






    <div class="ag-container">
        <div class="presentation">
            <h3>Présentation</h3>
            <p>
                Le Cabinet Avice est un bureau d’études urbaines fondé en 2001
spécialisé dans les études d’urbanisme et d’aménagement
expertise : urbanisme réglementaire, lotissement, loi Littoral, évaluation environnementale…
dirigé par un architecte
            </p>
        </div>

        <div class="equipe">
            <h3>Equipe</h3>
            <p>
                Philippe Avice : <br>

Architecte, fondateur du bureau d’études
            </p>
        </div>

        <div class="competences">
            <h3>Compétences</h3>

            
           
            {% if abouts %} 
       
            {% for about in abouts %}



            <div class="box">
                <div class="box_header">
                    <h3>{{about.title_1}}</h3>
                    <i class='bx bx-plus'></i>
                </div>
                <div class="box_content">
                    <p>
                        {{about.description_1}}
                    </p>
                </div>

            </div>

                
            {% endfor %}
            {% endif %}










       
            

    
    
    </div>


    <script>
        var box = document.querySelectorAll('.box');
        box.forEach(item => {
            item.addEventListener('click', () => {
                for(var i = 0; i < box.length; i++) {
                    box[i].classList.remove('active');
                }
                item.classList.add('active');
            })
        })
    </script>

    
</body>

</html>