
{% load static  %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    
    <link rel="stylesheet" href="{%  static 'css/tablet.css' %}">
    <link rel="stylesheet" href="{%  static 'css/mobile.css' %}">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avice</title>
</head>





<body>

    <header>


        <div class="header">
            <a class="brand" href=" {% url 'index' %}" >AVICE Architecture</a>
            <nav class="navbar">
                <a class="nav-item  " href=" {% url 'index' %}" aria-current="page">Projets</a>
                <a class="nav-item  " href=" {% url 'about' %}">Agence</a>
                <a class="nav-item  selec " href=" {% url 'actu' %}"> Actualités</a>
                <a class="nav-item  " href=" {% url 'cont' %}">Contact</a>


            </nav>
        </div>

    </header>
    

    <div class="container">
    <div class="projects">

    {% if actus%} 
    {% for actu in actus %}





    
        <div class="p-content ">
            <div class="p-img">



                <a > 
                      <img src="{{actu.main_image.url}}" alt=""> 
                </a>
                
            </div>

            <a >

                <div class="p-info">
                    <h3 class="p-title">{{actu.title}}</h3>
                    <p class="p-desc">{{actu.description}}</p>  


                </div>

            </a>
        </div>

    {% endfor %}


{%else%}

    <h1 class="no-projects">pas de d'actualités  pour l'instant</h1>

{% endif %}

</div>
</div>
    <script src="{% static 'js/main.js' %}"
</body>

</html>